<%= simple_form_for(@ptest) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :project %>
    <%= f.association :metric %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
