<tr>
	<td><%= test_result.date_run %></td>
	<td><%= test_result.project.name %></td>
	<td><%= test_result.test_type %></td>
	<% color = test_result.result == "Pass" ? "green" : "red" %>
	<td><span style=color:<%= color %>><%= test_result.result %></span></td>
	<td><%= test_result.server_rev %></td>
	<td><%= test_result.client_rev %></td>
	<td><%= test_result.number_tests %></td>
	<td><%= test_result.number_passed %></td>
	<td><%= test_result.number_failed %></td>
	<td><%= test_result.actual_failed %></td>
	<td><%= test_result.false_neg %></td>
	<td class="comment"><%= test_result.comments %></td>
</tr>