
<table class="bvt_app_table" id="test_results_table">
	<thead>
	<tr class="yellow">
		<th width="17%"><%= sortable "date_run", Date %></th>
		<th width="15%"><%= sortable "project_id", Project %></th>
		<th width="5%">Type</th>
		<th width="6%">Result</th>
		<th width="6%">Server</th>
		<th width="6%">Client</th>
		<th width="5%">Num Tests</th>
		<th width="5%">Auto</th>
		<th width="6%">Passed</th>
		<th width="6%">Failed</th>
		<th width="6%">Actual Fail</th>
		<th width="5%">False Neg</th>
		<th width="5%">Time</th>
		<th width="5%"></th>
		<th width="33%">Comments</th>
		<% if @user.admin? %>
			<th width="8%"></th>
		<% end %>
	</tr>
	</thead>
	<tbody>
		<%= render @test_results %>
	</tbody>
</table>

<%= will_paginate %>

<%= link_to "Add Test Result", new_test_result_path %>

