<h1>Enter Test Result</h1>


<%= simple_form_for(@test_result) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
<table class="bvt_app_form_table">
	<tr class="bvt_app_white">
		<td><%= f.input :date_run %></td>
		<td><%= f.association :project %></td>
	</tr>
	<tr class="bvt_app_white">
		<td><%= f.input :server_rev, :input_html => {:size => 10, :maxlength => 8} %></td>
		<td><%= f.input :client_rev, :input_html => {:size => 10, :maxlength => 8} %></td>
	</tr>
	<tr class="bvt_app_white">	
		<td><%= f.input :number_tests, :as => :string, :input_html => {:size => 8, :maxlength => 6} %></td>
		<td><%= f.input :number_passed, :as => :string, :input_html => {:size => 8, :maxlength => 6} %></td>
	</tr>
	<tr class="bvt_app_white">
		<td><%= f.input :number_failed, :as => :string, :input_html => {:size => 8, :maxlength => 6} %></td>
		<td><%= f.input :actual_failed, :as => :string, :input_html => {:size => 8, :maxlength => 6} %></td>
	</tr>
	<tr class="bvt_app_white">
		<td colspan=2><%= f.input :false_neg, :as => :string, :label => "False Negatives", :input_html => {:size => 8, :maxlength => 6} %></td>
	</tr>
	<tr class="bvt_app_white">
		<td colspan=2><%= f.input :comments %></td>
	</tr>
	<tr class="bvt_app_white">
	<td colspan=2>
	<div class="actions">
		<%= f.submit :New %>
	</div>
	</td>
	</tr>
</table>
<% end %>
