<h1>Edit user </h1>

<%= simple_form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
	
	<div class = "actions">
		<%= f.button :submit %>
	</div>
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">change</a>
</div>