<h1>Add Performance Results</h1>
Test: <%= @ptest_result.ptest.name  %>
<p>&nbsp;</p>
<%= simple_form_for(@ptest_result) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :ptest_id, :as => :hidden %>
    <%= f.input :environment, :collection => ["Dev", "Staging", "Production"], :as => :radio %>
    <%= f.association :device %>
    <%= f.association :operating_system %>
    <%= f.association :connection %>
    <%= f.association :browser %>
    <%= f.input :values %>
  </div>

  <div class="actions">
    <%= f.submit "Add Test Results" %>
  </div>
<% end %>
